<section class="jumbo">
  <div class="row">
    <div class="large-12 columns">
      <h1>Sodata App</h1>
      <p class="text-center">
        <%= link_to "Get Started", login_path, class: "large button"%>
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="text-center">
        <h2>Intelligent Crime Data Analysis</h2>
        <p>
          The reason for I built this app is to discover just what sort of crime is happening every day all around you. Open data has the potential to change the world and I want to use every bit of Data that I can find.
        </p>
      </div>
      <div>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li>
            <%= image_tag "image1.jpg"%>
            <h3 class="text-center">Heading 1</h3>
            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
          </li>
          <li>
            <%= image_tag "image2.jpg"%>
            <h3 class="text-center">Heading 2</h3>
            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
          </li>
          <li>
            <%= image_tag "image3.jpg"%>
            <h3 class="text-center">Heading 3</h3>
            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="portfolio">
  <div class="row">
    <div class="large-12 columns">
      <h2>Our Recent Work</h2>
      <h4 class="text-center">Some of the best work we have done.</h4>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
        <li>
          <%= image_tag "port1.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port2.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port3.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port4.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port5.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port6.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port7.png", class: "th" %>
        </li>
        <li>
          <%= image_tag "port8.png", class: "th" %>
        </li>
      </ul>
    </div>
  </div>
</section>
