


<div class="ui column centered grid raised  padded text  segment ">
  <div class="ui header" id="map"></div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcLBwo2NDXZGjkp7wpfgAAsL9q_XXaeo&signed_in=true&callback=initMap" async defer>
</script>

<script  type="text/javascript">
  var locations= [];
  var thefts = [];
  var bike_racks = [];

  <% @seattle_crimes.each do |crime| %>
    locations.push(["crime", <%= crime.latitude %>, <%= crime.longitude%>, 3])
  <% end %>

  <% @bike_thefts.each do |theft| %>
    thefts.push(["theft", <%= theft.latitude %>, <%= theft.longitude%>, 3])
  <% end %>

  <% @bike_racks.each do |bike_rack| %>
    bike_racks.push(["rack", <%= bike_rack.latitude %>, <%= bike_rack.longitude%>, 3])
  <% end %>

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: new google.maps.LatLng(47.614074707,-122.320777893),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker, theft, rack, i, j, k;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon:  'https://maps.google.com/mapfiles/kml/shapes/schools_maps.png'
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }


    for (j = 0; j < thefts.length; j++) {
      theft = new google.maps.Marker({
        position: new google.maps.LatLng(thefts[j][1], thefts[j][2]),
        map: map,
        icon:  'https://maps.google.com/mapfiles/kml/shapes/cycling.png'
      });

      google.maps.event.addListener(theft, 'click', (function(theft, j) {
        return function() {
          infowindow.setContent(thefts[j][0]);
          infowindow.open(map, theft);
        }
      })(theft, j));
    }

    for (k = 0; k < bike_racks.length; k++) {
      rack = new google.maps.Marker({
        position: new google.maps.LatLng(bike_racks[k][1], bike_racks[k][2]),
        map: map
      });

      google.maps.event.addListener(rack, 'click', (function(rack, k) {
        return function() {
          infowindow.setContent(bike_racks[k][0]);
          infowindow.open(map, rack);
        }
      })(rack, k));
    }
  }
</script>
