<% @bikes.each do |bike| %>
  </br>
  </br>


  <div class="ui list bikes">
    <div class="item center aligned">

    <div class="ui small basic icon buttons right aligned" id="delete">
      <%= link_to "Delete?", 
        bike, 
        class: "ui button", 
        method: :delete %>
    </div>

    <div class="ui small basic icon buttons right aligned" id="missing">
      <%= link_to "Missing?", 
        missing_bike_path(bike), 
        class: "ui button", 
        method: :post, 
        data: {confirm: "Please Confirm?"}%>
    </div>
      <h2 class="ui center aligned icon header">
        <% if bike.terrain == "Road" %>
          <i class="circular road icon bike" id="large-icon"></i>
        <% else %>
          <i class="circular tree marker icon bike" id="large-icon"></i>
        <% end %>
        <%= bike.model %> <%= bike.make %>
      </h2>
      <div class="content center aligned">
        <h2 class="ui sub header">
          Description:
        </h2>
        <span>
          <%= bike.description %>
        </span>

        <h2 class="ui sub header">
          Serial Number:
        </h2>
        <span>
          <%= bike.serial_number %>
        </span>

        <h2 class="ui sub header">
          Type:
        </h2>
        <span>
          <%= bike.terrain %>
        </span>
      </div>
    </div>
  </div>
  </br>
  </br>
  <div class="ui divider"></div>
<% end %>
