<% @bikes.each do |bike| %>
  </br>
  <div class="ui list bikes">
    <div class="item center aligned">

      <h2 class="ui center aligned icon header">
        <% if bike.terrain == "Road" %>
          <i class="circular road icon bike" id="large-icon"></i>
        <% else %>
          <i class="circular tree marker icon bike" id="large-icon"></i>
        <% end %>
        <%= bike.model %> <%= bike.make %>
      </h2>
      <br>

      <div class="content center floated">
        <p>
          <strong>Description:</strong>         <%= bike.description %>
        </p>

        <p>
          <strong>Serial Number:</strong>       <%= bike.serial_number %>
        </p>

        <p>
          <strong>Type:</strong>        <%= bike.terrain %>
        </p>
        <br>
        <br>
      </div>

      <div class="content right floated">
        <div class="ui tiny basic icon buttons right aligned" id="delete">
          <%= link_to "Delete?", 
            bike, 
            class: "ui button", 
            method: :delete %>
        </div>

        <div class="ui tiny basic icon buttons right aligned" id="missing">
          <%= link_to "Missing?", 
            missing_bike_path(bike), 
            class: "ui button", 
            method: :post, 
            data: {confirm: "Please Confirm?"}%>
        </div>
      </div>

    </div>
  </div>
  </br>
  </br>
  <div class="ui divider"></div>
<% end %>
