<div class="ui segment red" id="dashboard-card">
  <h2 class="ui center floated header blue">
    <%= current_user.first_name %>'s Bikes
  </h2>
  </br>
  <h4 class="ui horizontal divider header">
    <i class="empty heart icon"></i>
    Currently Registered
  </h4>
  
  <% @bikes.each do |bike| %>
    </br>
    </br>
    <div class="ui list">
      <div class="item">
        <% if bike.terrain == "Road" %>
          <i class="road icon" id="large-icon"></i>
        <% else %>
          <i class="tree marker icon" id="large-icon"></i>
        <% end %>
        <div class="content">
          <a class="header"><%= bike.make %> <%= bike.model %></a>
          <a class="header"><%= bike.description %></a>
          <a class="header"><%= bike.serial_number %></a>
          <a class="header"><%= bike.terrain %></a>
        </div>
      </div>
    </div>
    </br>
    </br>
    <div class="ui divider"></div>
  <% end %>


  <button class="ui green button" id="modal-trigger">
    <i class="add circle icon" style="font-size: 1.3em"></i>
  </button>
</div>

 <%#Bike Regstration Modal%>
<div class="ui modal new-bike">
  <i class="close icon"></i>
  <div class="header">
    Ready to Add a new Bike?
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/assets/fg.png">
    </div>
    <div class="description">
      <div class="ui header">Simply Fill out the basic information</div>
    </div>
  </div>

  <%= form_tag(bikes_path, method: :create) do %>
    <%= hidden_field_tag "user_id", current_user.id %>

    <%= label_tag :model %>
    <%= text_field_tag "model", "", class:"field" %>
    </br>
    </br>

    <%= label_tag :make %>
    <%= text_field_tag :make, "", class:"field" %>
    </br>
    </br>

    <%= label_tag :description %>
    <%= text_field_tag :description, "", class:"field" %>
    </br>
    </br>

    <%= label_tag :serial_number %>
    <%= text_field_tag :serial_number, "", class:"field" %>
    </br>
    </br>

    <%= label_tag :terrain %>
    <%= select_tag :terrain, options_for_select([ "Road", "Mountain" ], "Road")%>
    </br>
    </br>

    <%= submit_tag "Everything Look OK?", class: "ui positive right labeled icon button" do %>
    <% end %>
  <% end %>
  </br>
  </br>
  </br>
</div>
