<div class="ui modal new-bike" id="bike-reg-modal">
  <i class="close icon"></i>
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui header">
        Simply Fill out the basic information
      </div>
      <div class="ui horizontal divider"></div>
      <%= form_tag bikes_path, method: :create, :class => "user ui form" do %>
        <%= hidden_field_tag "user_id", current_user.id %>

        <div class="field">
          <label>Model</label>
          <%= text_field_tag "model" %>
        </div>

        <div class="field">
          <label>Make</label>
          <%= text_field_tag "make" %>
        </div>

        <div class="field">
          <label>Description</label>
          <%= text_field_tag "description" %>
        </div>

        <div class="field">
          <label>Serial Number</label>
          <%= text_field_tag "serial_number" %>
        </div>

        <div class="field">
          <label>Terrain</label>
          <%= select_tag :terrain, options_for_select([ "Road", "Mountain" ], "Road")%>
        </div>

        <%= submit_tag "Complete Registration", class: "ui blue right labeled icon button" %>
      <% end %>

    </div>
  </div>

</div>
