<div class="ui secondary pointing menu">
  <%= link_to "Sodata App", root_path, class: "item" %>
  <a class="item">
    Cities
  </a>
  <div class="right menu">
    <% if current_user %>
      <a class="ui item">
        Welcome, <%= current_user.first_name %>  <%= current_user.last_name %>
      </a>
      <a class="item">
        Profile
      </a>
      <%= link_to "Logout", logout_path, class:"ui item"%>
    <% else %>
      <%= link_to "Login", login_path, class:"ui item"%>
    <% end %>
  </div>
</div>
