<div class="ui segment red" id="dashboard-card">
  <h2 class="ui center floated header blue">
    <%= current_user.first_name %> <%= current_user.last_name%>'s Profile
  </h2>

  </br>
  <h4 class="ui horizontal divider header">
    <i class="user icon"></i>
    Account Details
  </h4>

  <div class="ui divided items"> </br>
    <div class="image left floated right aligned">
      <a href="#" class="ui tiny image circular">
        <img src="<%= image_url current_user.raw_image %>" class="ui tiny image">
      </a>

      <div class="ui list right floated left aligned">
        <div class="item">
          <i class="volume up icon"></i>
          <div class="content">
            <%= current_user.gets_alert %>
          </div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            Denver, CO
          </div>
        </div>
        <div class="item">
          <i class="mail outline icon"></i>
          <div class="content">
             <%= current_user.email %>
          </div>
        </div>
        <div class="item">
          <i class="phone icon"></i>
          <div class="content">
            <%= current_user.phone_number %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>

  <%= form_tag user_path(current_user), method: :put, :class => "user ui form" do %>
    <div class="field">
      <label>First Name</label>
      <%= text_field_tag "first_name", current_user.first_name  %>
    </div>

    <div class="field">
      <label>Last Name</label>
      <%= text_field_tag "last_name",  current_user.last_name  %>
    </div>

    <div class="field">
      <label>Phone Number</label>
      <%= text_field_tag "phone_number", current_user.phone_number %>
    </div>

    <div class="field">
      <label>Gender</label>
      <%= text_field_tag "gender", current_user.gender  %>
    </div>

    <div class="field">
      <label>Email</label>
      <%= text_field_tag "email", current_user.email  %>
    </div>

    <label>Get Notifications for Missing Bikes?</label>
    </br>
    <% if current_user.phone_number == nil || current_user.phone_number == ""%>
      <div class="ui toggle checkbox disabled field">
        <%= check_box_tag 'accept', disabled: true %>
        <label>Please Add A Phone Number First</label>
      </div>
    <% else %>
      <div class="ui toggle checkbox">
        <%= hidden_field_tag :gets_alert, false %>
        <%= check_box_tag :gets_alert, checked = true %>
        <label></label>
      </div>
    <% end %>

    </br>
    </br>

    <%= submit_tag "Everything Look OK?", class: "ui positive button" do %>
      <i class="checkmark icon"></i>
    <% end %>
  <% end %>

</div>
